.chart {
    background: #002b36;
    color: #93a1a1;
    overflow-x: auto;
}

.chart table {
    table-layout: fixed;
}

.chart figcaption {
    color: white;
    font-size: 25px;
}

.chart .chart-year {
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: center;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.chart .chart-month {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: center;
    height: 40px;
    font-weight: bold;
}

.chart .chart-day {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: center;
    height: 40px;
    width: 40px;
}

.chart .chart-day .today {
    color: white;
}

.chart .chart-day .weekend {
    background-color: #777;
    color: white;
}
