.chart {
    background: #002b36;
    color: #93a1a1;
    overflow-x: auto;
}

.chart table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid #aaa;
}

.chart figcaption {
    color: white;
    font-size: 25px;
}

.chart .chart-year {
    border: 3px solid #aaa;
    text-align: center;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.chart .chart-month {
    border: 3px solid #aaa;
    text-align: center;
    height: 40px;
    font-weight: bold;
}

.chart .chart-day {
    border: 1px solid #aaa;
    text-align: center;
    height: 40px;
    width: 40px;
}

.chart .chart-day.today {
    color: white;
}

.chart .chart-day.weekend {
    background-color: #444;
}

.chart .chart-day.start {
    border-left: 3px solid #aaa;
}
