@import url('https://fonts.googleapis.com/css?family=Roboto');

/* =============================== */
/* Basic Page Layout and colouring */
/* =============================== */

body {
    background-color: black;
}

header {
    /* Header 80% os screen width */
    max-width: 80%;
    /* Centre header in screen */
    margin-left: auto;
    margin-right: auto;
}

main {
    /*background-color: darkslategrey; */
    background-image: url("../Images/Chess-Game.jpg");
    background-size: 1536px 732px;
    background-repeat: no-repeat;
    background-position: center;

    /* Main width 80% of screen width and main height 60% */
    max-width: 80%;
    height: 60vh;

    /* Centre main in screen */
    margin-left: auto;
    margin-right: auto;

    /* Centre horizontally content in main */
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: center;
}

main > section {
    /* Centre vertically content in main */
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: center;
}

footer {
    /* Header 80% os screen width */
    max-width: 80%;
    /* Centre header in screen */
    margin-left: auto;
    margin-right: auto;
}

/* ==== */
/* TEXT */
/* ==== */

header {
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

p, ul {
    font-weight: 400;
}

legend {
    font-weight: 700;
    font-size: 20px;
}

.submit{
    font-weight: 700;
    font-size: 15px;
}

a {
    font-weight: 700;
    color: grey;
    text-decoration: none;
}

a:hover { color: white; }

/* ====== */
/* HEADER */
/* ====== */

header{
    /* Place the Section containing logo/test above nav bar*/
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    float:left;
    padding-right: 20px;
}

header section div {
    height: 200px;
    /* border-bottom: 2px solid darkgrey; */
}

header section div span {
    float: right;
    padding: 10px;
    border: 2px solid darkgrey;
}

nav div {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

nav span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Get rid of bullet points */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid darkgrey;
}

/* Float each list item to the left */
nav>ul>li {
    float:left;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-right: none;
}

nav>ul>li:last-child {
    border-right: 2px solid darkgrey;
}

/* Remove underline, centre text, add padding */
nav>ul>li a {
    display: block;
    /*color: black; */
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav>li>a:hover {
    color: #363636;
}

@media screen and (max-width: 800px) {
    nav ul li {border-right: 2px solid darkgrey;}
    /* nav ul li.right, */
    nav ul li {float: none;}
}

/* ==== */
/* MAIN */
/* ==== */

.subNav {
    /* Centre content horizontally */
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: center;
}

main section ul {
    display:block;
    background-color: darkgrey;
    padding: 0px;
    list-style-type: none;
}

main section ul li {
    border-style: solid;
    border-width: 2px;
    border-right: none;
    padding: 5px;
    float:left;
}

main section ul li:last-child {
    border-right: 2px solid black;
}

main section ul li  div {
    height: 30px;
    line-height: 30px;
}

main section ul li span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

main section a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

form {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
}

.row {
    display: table-row;
}

fieldset {
    border: 3px solid;
    border-radius: 5px;
}

label {
    display: table-cell;
    float: left;
    padding-right: 10px;
    width: 150px;
}

input {
    display: table-cell;
    float: left;
}

textarea {
    display: table-cell;
    float: left;
}

select {
    display: table-cell;
    float: left;
}

.submit {
    background-color: darkgrey;
    margin-top: 10px;
    float: right;
}

#documents {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
}

#documents a {
    display: table-cell;
    float: left;
    padding-left: 30px;
}

#documents span {
    display: table-cell;
    float: left;
    min-width: 200px;
}