@import url('https://fonts.googleapis.com/css?family=Roboto');

/* =============================== */
/* Basic Page Layout and colouring */
/* =============================== */

body {
    background-color: black;
}

header {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main {
    /*background-color: darkslategrey; */
    background-image: url("../Images/chess-2.jpg") ;

    /* Set Height and width*/
    max-width: 80%;
    height: 60vh;

    /* Centre main in screen */
    margin-left: auto;
    margin-right: auto;

    /* Centre horizontally content in main */
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: center;
}

main > section {
    /* Centre vertically content in main */
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: center;
}

label {
    float: left;
    padding-right: 10px;
}

input {
    float: right;
}

form {
    background-color: grey;
}

.submit {
    background-color: darkgrey;
    float: right;
/*    position: relative;
    left: -50%; */
}

footer {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* ==== */
/* TEXT */
/* ==== */

header {
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

p, ul, #radio {
    font-weight: 400;
}

legend {
    font-weight: 700;
    font-size: 20px;
}

.submit{
    font-weight: 700;
    font-size: 15px;
}

a {
    font-weight: 700;
}

/* ====== */
/* HEADER */
/* ====== */

#logo {
    float:left;
    padding-right: 20px;
}

header section div {
    height: 200px;
    /* border-bottom: 2px solid darkgrey; */
}

header section div span {
    float: right;
    padding: 10px;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

header section div span:last-child {
    border-left: 2px solid darkgrey;
}

header section div span:first-child {
    margin-right: 2px;
    border-right: 2px solid darkgrey;
}

nav div {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

nav span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Get rid of bullet points */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid darkgrey;
}

/* Float each list item to the left */
nav>ul>li {
    float:left;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    border-right: none;
}

nav>ul>li:last-child {
    border-right: 2px solid darkgrey;
}

/* Remove underline, centre text, add padding */
nav>ul>li a {
    display: block;
    /*color: black; */
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav>li>a:hover {
    color: #363636;
}

@media screen and (max-width: 800px) {
    nav ul li {border-right: 2px solid darkgrey;}
    /* nav ul li.right, */
    nav ul li {float: none;}
}
